.menu-toggle{
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    
}

/* MOBILE */
@media (max-width: 768px){

    .menu{
        width: 90%;
    }

    .opcoes{
        display: none; 
        position: absolute;
        top: 70px;
        right: 0;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.397);
        box-shadow: 0 8px 32px rgba(0,0,0,0.2);
        
    }


    .opcoes.ativo{
        display: flex; 
    }

    .menu-toggle{
        display: block; 
    }
}

@media (max-width: 768px) {
  .titulos {
    flex-direction: column;
    align-items: center;
  }

  .bloco {
    width: 90%;
  }
}


@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 100%;
  }

  .ajuste {
    padding: 0 18px;
  }
}

@media (max-width: 768px) {
  .servs {
    justify-content: flex-start; /* começa da esquerda */
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    text-align: center;
  }

  .formulario {
    width: 100%;
  }
}


@media (max-width: 900px) {

  .sec-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .sec-texto h1 {
    font-size: 30px;
  }

  .sec-texto p {
    font-size: 16px;
  }

  .sec-form {
    width: 100%;
    align-items: center;
  }

  .sec-form input,
  .sec-form textarea {
    width: 90%;
    max-width: 400px;
  }

  .sec-form button {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 500px) {

  .sec-texto h1 {
    font-size: 24px;
  }

  .sec-contato {
    height: auto;
    padding: 50px 0;
  }

  .sec-bg {
    height: 100%;
  }
}















@media(max-width: 900px){
    .conteudo-sobre{
        flex-direction: column;
    }

    .texto-sobre h1{
        font-size: 42px;
    }

    .texto-sobre h3{
        font-size: 28px;
    }

    .texto-sobre p{
        font-size: 18px;
    }

    .item span{
        font-size: 42px;
    }

    .badge{
        left: 20px;
        bottom: 20px;
        width: 120px;
    }
}







/* parcerias */
@media (max-width: 768px) {
  /* esconde texto */
  .textt {
    display: none;
  }

  /* deixa layout em coluna */
  .containery {
    flex-direction: column;
    gap: 20px;
  }

  /* carrossel ocupa toda largura */
  .logos-wrapper {
    width: 100%;
  }

  /* centraliza título */
  .fundo h2 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 25px;
  }

  /* logos menores no celular */
  .logos img {
    width: 70px;
  }
}


@media(max-width:900px){

.eset{

    justify-content:center;

    text-align:center;

    background-position:75% center;

}

.eset-conteudo{

    width:100%;

    max-width:600px;

}

.eset h1{

    font-size:42px;

}

.eset-botoes{

    flex-direction:column;

}

.btn-download,
.btn-saiba{

    display:block;

}

.eset-info{

    justify-content:center;

}

}

@media(max-width:600px){

.eset{

    padding:70px 25px;

    min-height:650px;

    background-position:80% center;

}

.eset h1{

    font-size:34px;

}

.eset p{

    font-size:16px;

}

.eset-info{

    flex-direction:column;

    gap:18px;

}

}