
.hidden {
  opacity: 0;
  pointer-events: none;
}
.servicos {
   padding: 100px;
  background: linear-gradient(to right, #BC8E35, #E0BB48);
  color: white;
   margin-top: 90px;
  
}

.servicos h2 {
  color: #ffe000;
  font-size: 38px;
  margin-bottom: 50px;
  text-align: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 450px;
}

.card {
  position: absolute;
  width: 180px;
  height: 220px;
  border-radius: 20px;
  background: #e8c34d;
  box-shadow: 0 10px 20px rgba(0,0,0,0.18);
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
}
.card:hover
{
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);

}

.card-top {
  padding: 18px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  word-break: break-word;
}

.card-info {
  background: white;
  color: #222;
  padding: 15px;
  height: 0;
  opacity: 0;
  transition: all 0.4s ease;
}

/* posições */
.bsmall-left {
  left:18%;
  top: 44px;
  transform: scale(0.80);
  z-index: 0;
}
.bsmall-right {
  right: 18%;
  top: 44px;
  transform: scale(0.80);
  z-index: 0;
}


.small-left {
  left: 26%;
  top: 44px;
  transform: scale(0.9);
  z-index: 1;
}
.small-right {
  right: 26%;
  top: 44px;
  transform: scale(0.88);
  z-index: 1;
}

.medium-left {
  left: 35%;
  top: 45px;
  transform: scale(1);
  z-index: 2;
}

.medium-right {
  right:35%;
  top: 45px;
  transform: scale(1);
  z-index: 2;
}

.active {
  left: 50%;
  top: 45px;
  transform: translateX(-50%) scale(1.2);
  z-index: 5;
  transform-origin: center center;
}


/* expandido */
.active.expanded {
  height: 330px;
  top: 0;
}

.active.expanded .card-info {
  height: 110px;
  opacity: 1;
}




@media (max-width: 480px) {
  .card {
    width: 105px;
    height: 150px;
  }

  .card-top {
    font-size: 12px;
    padding: 10px;
  }

  .carousel {
    height: 320px;
  }
}



.card-icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.22);
  transition: 0.4s;
}

.card:hover .card-icon {
  transform: scale(1.12) rotate(-5deg);
  color: rgba(255, 255, 255, 0.35);
}